@model BudgetingApplication.ViewModels.BadgesModelView
@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Badges";
    Layout = "~/Views/_Layout.cshtml";
}
<h2 align="center">My Badges</h2>

<br />

@foreach (var item in Model.badges)
{
    <div class="col-sm-3 myBadge" align="center">
        <img src="@Url.Content("~/images/" + item.BadgeName)" />
        <p style="margin-bottom:20px; margin-top:20px;"> @Url.Content(item.Description)</p>
</div>
}

@section sidebar{
    <div class="badge-sidebar-overview" align="center" style="border-bottom:1px solid; margin-bottom: 10px;">
        <h3>Badge Progress</h3>
        <div class="badge-progress-ratio" align="center">
            @Model.badgeCount out of @Model.totalBadgeCount
        </div>
    </div>
    <div class="badge-sidebar-recent" align="center" style="border-bottom:1px solid; margin-bottom: 10px;">
        <h4>Most Recent Badge</h4>
        <div class="badge-progress-ratio" align="center" style="margin-bottom:20px;" title="@Url.Content(Model.badges.ElementAt(Model.badgeCount - 1).Description)">
            <img src="@Url.Content("~/images/" + Model.badges.ElementAt(Model.badgeCount - 1).BadgeName)" style="max-height: 50px; max-width: 50px;" />
        </div>
    </div>

}
