@model BudgetingApplication.Models.indexModelView
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.PageName = "Index";
}
<div id="graphContainer" class="col-md-10">
    <div id="showCharts" class="col-md-10">
        <div class="dropdown pull-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                <span id="currentType">Donut Chart</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <span id="showDonut" data-show="doughnut" style="display:none;">Donut Chart</span>
                </li>
                <li>
                    <span id="showBar-horizontal" data-show="horizontalBar">Horizontal Bar Chart</span>
                </li>
                <li>
                    <span id="showBar" data-show="bar">Bar Chart</span>
                </li>
                <li>
                    <span id="showPolar" data-show="polarArea">Polar Area Chart</span>
                </li>
                <li>
                    <span id="showLine" data-show="line">Line Chart</span>
                </li>
            </ul>
        </div>
    </div>
    <center>
        <div id="MyChart">
            <canvas id="chartArea" height="350" />
        </div>
    </center>
</div>
<div class="col-md-2 incomeBox">  
   <p>Month's Income: <b>$@string.Format("{0:n2}", Model.totalIncome)</b></p>
    <p>Month's Spending: <b>$@string.Format("{0:n2}", Model.totalSpent)</b></p>
</div>

<div class="col-md-10"><center><h2>My Budget</h2></center></div>
    <div class="col-md-10">
        @{
            foreach (var item in Model.budgetGoals.budgetView)
            {
                @Html.Partial("~/Views/BudgetGoals/_ListGoals.cshtml", item)
            }
        }
    </div>

<!-- this is only visible when the screen gets too small-->
<div class="col-sm-12 visible-sm-block visible-xs-block" style="border-bottom:1px solid; margin-bottom:10px;">
    <h4 class="badgeHeader">Badges Earned</h4>
</div>
@{
    foreach (var item in Model.clientBadges)
    {
        var badge = Model.badges.Where(x => x.BadgeID == item.BadgeID).Single();
        <div class="col-sm-2 visible-sm-block visible-xs-block">
            <img src="@Url.Content("~/images/" + badge.BadgeName)" class="badgeImage" data-toggle="tooltip" title="@badge.Description" data-placement="bottom" width="50" height="50" />
        </div>
    }
}
<!--end of small screen visibility-->

@section sidebar {
   <div>
       <div class="col-sm-12" style="border-bottom:1px solid; margin-bottom:10px;">
           <h4>Accounts</h4>
       </div>
       <div class="col-sm-12">
           Total: <b>$@string.Format("{0:n2}", Model.transactions.Sum(x=>x.TransactionAmount))</b>
       </div>
       <div class="col-sm-12">
           @{ 
               string cssClass = "text-success";
               foreach(var item in Model.transactions)
               {
                   <div>
                       <h3>@item.Description</h3>
                   </div>
                <div>
                    @{
                        if (item.TransactionAmount < 0)
                        {
                            cssClass = "text-danger";
                        } else
                        {
                            cssClass = "text-success";
                        }
                   }
                    <p class="@cssClass">$@string.Format("{0:n2}", item.TransactionAmount)</p>
                </div>
               }
        }
       </div>
       <hr />
       <div class="col-sm-12" style="border-bottom:1px solid; margin-bottom:10px;">
           <h4 class="badgeHeader">Badges Earned</h4>
       </div>
       @{
           foreach (var item in Model.clientBadges)
           {
               var badge = Model.badges.Where(x => x.BadgeID == item.BadgeID).Single();
               <div class="col-sm-4">
                   <img src="@Url.Content("~/images/" + badge.BadgeName)" data-html="true"  class="badgeImage" data-toggle="tooltip" title="<b>Earned:</b><em> @item.DateEarned.ToShortDateString() </em> <br>@badge.Description" data-placement="bottom" width="50" height="50" />
               </div>
           }
       }

    </div>
     }